.social-icons {
    display: block;
    width: 24px;
    height: 24px;
}

.facebook-icon {
    background: url(./icons/facebook.svg) no-repeat;
}

.twitter-icon {
    background: url(./icons/twitter.svg) no-repeat;
}

.linkedin-icon {
    background: url(./icons/linkedin.svg) no-repeat;
}

.rss-icon {
    background: url(./icons/rss.svg) no-repeat;
}

.email-icon {
    background: url(./icons/email.svg) no-repeat;
}