// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
    font-size: ($sizeValue * 16) * 1px;
    font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Clearfix
@mixin clearfix() {
    content: "";
    display: table;
    table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
    clear: both;
}

@mixin visually-hidden() {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin breakpoint($point) {
    @if $point == xxlarge {
        @media (min-width: 1399.98px) { @content; }
    }

    @if $point == xlarge {
        @media (min-width: 1199.98px) { @content; }
    }
    @if $point == large {
        @media (min-width: 991.98px) { @content; }
    }

    @if $point == medium {
        @media (min-width: 767.98px) { @content; }
    }

    @if $point == small {
        @media (min-width: 575.98px)  { @content; }
    }
    @if $point == large-down {
        @media (max-width: 1199.98px) { @content; }
    }
    @if $point == small-down {
        @media (max-width: 767.98px) { @content; }
    }
}
