.navigation-bar {
    position: relative;

    @include breakpoint('xlarge') {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

}
.main-primary-nav {

    .navbar {
        padding-top: 0;
        padding-bottom: 0;
        position: initial;

        @include breakpoint('xlarge') {
            position: relative;
        }

        .navbar-collapse {

            .navbar-nav {

                li {
                    padding: .25rem 0 .25rem 0;
                    border-bottom: solid 1px transparent;

                    @include breakpoint('large') {
                        padding: 1rem 0 1rem 0;
                        border-bottom: solid 4px transparent;
                    }


                    &:hover, &.current-menu-item, &.current-menu-parent {


                    }
                    &:hover {

                        cursor: pointer;
                    }

                    a {


                        &.nav-link {
                            padding: .25rem 0;
                            text-decoration: none;

                            @include breakpoint('large') {
                                font-weight: 400;
                                padding: .5rem 1.25rem;
                            }

                            &:hover {

                            }
                        }

                    }



                    &.dropdown {

                        &:hover {

                            > .dropdown-menu {
                                @include breakpoint('xlarge') {
                                    display: block;
                                }
                            }
                        }

                        > .dropdown-toggle {
                            &:after {
                                position: absolute;
                                right: 1rem;
                                top: 1.5rem;
                                padding: 4px;
                                border-width: 0 3px 3px 0;
                                transform: rotate(45deg);
                                -webkit-transform: rotate(-45deg);
                            }
                            &:after {
                                @include breakpoint('xlarge') {
                                    display: none;
                                }
                            }
                        }
                    }

                    .dropdown-menu {
                        border: none;
                        background: white;
                        left: 0;
                        margin: 1rem 0;
                        padding: 1rem;

                        @include breakpoint('xlarge') {
                            min-width: 300px;
                            padding: 2rem 1rem;
                            background: white;
                            margin: 0;
                        }


                        li {

                            padding: 0;
                            position: relative;

                            &:hover {
                                background: white;
                            }

                            a {
                                padding: .5rem 0;


                                @include breakpoint('xlarge') {

                                }

                                &:hover {

                                    background: initial;
                                }

                            }


                            &.active{

                                a {

                                }
                            }

                            &.current-menu-item {
                                border-bottom: none;
                            }

                            &.menu-item-has-children {

                                a {
                                    &:after {
                                        display: inline-block;
                                        top: .5rem;
                                    }
                                }
                            }

                            > .dropdown-menu {

                                margin: 0;

                                @include breakpoint('xlarge') {
                                    position: absolute;
                                    top: 1.5rem;
                                    left: 92.5%;

                                }
                            }

                            &:hover {

                                border-bottom: none;
                            }

                        }

                    }

                    &:last-child {

                        .dropdown-menu {

                            li {
                                > .dropdown-menu {
                                    top: 3rem;
                                    left: 10%;
                                }
                            }
                        }
                    }

                    &.mobile-only-child {


                        > .dropdown-menu {

                            @include breakpoint('xlarge') {
                                display: none;
                            }
                        }

                        &:hover {

                            > .dropdown-menu {

                                @include breakpoint('xlarge') {
                                    display: none;
                                }
                            }

                        }
                    }

                    &.mobile-only {

                        @include breakpoint('xlarge') {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.dropdown-toggle {
    &::after {
        border: solid;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        padding: 3px;
        border-width: 0 2px 2px 0;
        vertical-align: .15em;
    }
}
.dropdown-item {
    &:active, &:hover, &.active {
        background-color: white;
    }
}
.navbar-light {

    .navbar-toggler-icon {
        background-image: none;

        i {
            height: 35px;
            width: 35px;
            @include breakpoint('large') {
                height: 50px;
                width: 50px;
            }
        }
    }
    .navbar-toggler {
        border: none;
        color: transparent;
    }

}

.navbar-toggler-icon {
    width: auto;
    height: auto;
    position: absolute;
    top: 1rem;
    right: 1rem;

}
