$base_font_size: 1rem; //16px

$header_font: 'Roboto', sans-serif;
$base_font: 'Open Sans', sans-serif;

$h1_headers_size: 7.5rem;
$h2_headers_size: 5rem; 
$h3_headers_size: 3.5rem; 
$h4_headers_size: 2.5rem; 
$h5_headers_size: 2rem; 

$small_font: 0.875rem; 