$base_font_size: 1rem; //16px

$header_font: 'Exo', sans-serif;
$base_font: 'Vollkorn', serif;

$h1_headers: 2.250rem; //36px
$h2_headers: 1.500rem; //24px
$h3_headers: 1.375rem; //22px
$h4_headers: 1.250rem; //20px
$h5_headers: 1.125rem; //18px

$small_font: 0.875rem; //14px
